<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="https://www.nuget.org/api/v2/" value="https://www.nuget.org/api/v2/" />
    <add key="Discord.NET unstable" value="https://www.myget.org/F/discord-net/api/v3/index.json" />
    <add key="Local Packages" value="./packages/" />
  </packageSources>
</configuration>
